@charset "utf-8";
/* 공통 */
.container {
  padding: 63px 0 120px;
  position: relative;
}
/* 아이콘 */
.icon {
  display:inline-block;
  position:relative;
  font-size:0;
  line-height:1;
  vertical-align:top;
  background-repeat:no-repeat;
  background-position:center center;
  background-size:100%;
}
.icon-size-20 {
  width: 20px;
  height: 20px;
}
.icon-size-24 {
  width: 24px;
  height: 24px;
}
.icon-size-32 {
  width: 32px;
  height: 32px;
}
/* 아이콘 이미지 */
.icon-play {
  background-image: url(../img/icon/icon-play.png);
}
.icon-to-front {
  background-image: url(../img/icon/icon-to-front.png);
}
.icon-to-prev {
  background-image: url(../img/icon/icon-to-prev.png);
}
.icon-to-next {
  background-image: url(../img/icon/icon-to-next.png);
}
.icon-to-end {
  background-image: url(../img/icon/icon-to-end.png);
}
.icon-delete {
  background-color: #d9d9d9;
  border-radius: 50%;
  background-image: url(../img/icon/icon-delete.png);
}
.icon-drop-down {
  background-image: url(../img/icon/down_arrow.png);
}
.icon-write {
  background-image: url(../img/icon/write.png);
}
.icon-pluse {
  background-image: url(../img/icon/icon-plus.png);
}
.icon-camera {
  width: 28px;
  height: 23px;
  background-image: url(../img/icon/icon-camera.png);
}
.icon-onfile {
  width: 12px;
  height: 16px;
  background-image: url(../img/icon/icon-on-file.png);
}
.icon-list-delete {
  width: 15px;
  height: 17px;
  background-image: url(../img/icon/icon-list-delete.png);
}
.icon-player-next {
  background-image: url(../img/icon/icon-player-next.png);
}
.icon-player-prev {
  background-image: url(../img/icon/icon-player-prev.png);
}
.icon-player-play {
  background-image: url(../img/icon/icon-player-play.png);
}
.icon-player-volume {
  background-image: url(../img/icon/icon-play-volume.png);
}
.audio-play__btn.playing .icon-player-play {
  background-image: url(../img/icon/icon-player-pause.png);
}
.audio-volume__btn.mute .icon-player-volume {
  background-image: url(../img/icon/icon-play-mute.png);
}
.board__music-play.playing .icon-play,
.board__video-play.playing .icon-play{
  background-image: url(../img/icon/icon-player-pause.png);
}
/* 폼 */
.form__select {
  width: 100%;
  font-size: 16px;
  background: url(../img/icon/down_arrow.png) no-repeat right 16px center / 24px 24px ;
  border: 1px solid #d9d9d9;
  height: 44px;
  padding: 0 16px;
  border-radius: 4px;
}
.form__control {
  width: 100%;
  border: 1px solid #d9d9d9;
  height: 44px;
  padding: 0 16px;
  border-radius: 4px;
}
.form__file-label {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #3C3C3C;
  gap: 13px;
}
.form__file {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 10;
  cursor: pointer;
}

/* 헤더 */
header {
  background: #00B9EF;
}
.header__inner {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  height: 72px;
  align-items: center;
  gap: 105px;
}
.logo {
  font-size: 0;
  width: 150px;
  height: 100%;
  display: flex;
  align-items: center;
}
.logo__link {
  display: block;
}
.logo__img {
  width: 100%;
}
.nav {
  height: 100%;
  display: flex;
  gap: 40px;
}
.nav__cell {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.nav__menu {
  color: #fff;
  font-weight: 500;
}
.nav__menu:hover {
  font-weight: 700;
}
.nav__menu.active {
  font-weight: 700;
}
.nav__menu::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  display: none;
}
.nav__menu.active::after {
  display: block;
}
/* CMS */
.cms__inner {
  width: 1000px;
  margin: auto;
}
.page__title {
  font-size: 28px;
  letter-spacing: 0.02em;
}
.page__back-btn {
  position: absolute;
  top: 31px;
  color: #3C3C3C;
  font-size: 16px;
  letter-spacing: 0.02em;
}
.pagination__inner {
  display: flex;
  gap: 36px;
  margin-top: 24px;
}
.pagination__link {
  display: block;
  padding: 14px 16px;
  letter-spacing: -0.02em;
  font-weight: 500;
  border-radius: 40px;
  color: #3c3c3c;
  background: #F0F4F7;
  position: relative;
  transition: 0.2s;
}
.pagination__link:hover {
  color: #fff;
  background: #00B9EF;
  font-weight: 700;
}
.pagination__link.active {
  color: #fff;
  background: #00B9EF;
  font-weight: 700;
}
.upload__item + .upload__item {
  margin-top: 24px;
}
.upload__inner {
  margin-top: 40px;
}
.upload__label {
  font-size: 18px;
}
.upload__label + .upload__data {
  margin-top: 10px;
}
.upload__data.upload__data--wrap {
  display: flex;
  gap: 16px;
}
.thumbnail__label {
  border: #DEE0E2;
  height: 164px;
  width: 124px;
  border: 1px solid #DEE0E2;
  border-radius: 4px;
}
.thumbnail__file-cell {
  width: 124px;
  height: 164px;
  border-radius: 4px;
  position: relative;
}
.thumbnail__file-cell img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  border-radius: 4px;
}
.thumbnail__file-cell .file__deleat-btn {
  position: absolute;
  top: 4px;
  right: 4px;

}
.video__label {
  height: 172px;
  border: 1px solid #d9d9d9;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  background: #fcfcfc;
  position: relative;
  padding: 20px;
}
.video__label::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/background-pattern.png) no-repeat center center / 100%;
  opacity: 0.1;
  z-index: 0;
}
.video__label .icon,
.video__label-desc  {
  z-index: 2;
}
.video__label.onfile {
  padding: 20px;
  display: block;
}
.video__label.onfile .video__file-up,
.video__label.onfile .icon.icon-pluse,
.video__label.onfile .video__label-desc,
.video__label.onfile::after{
  display: none;
}
.video__label .on-file__cell {
  display: none;
}
.video__label.onfile .on-file__cell {
  display: flex;
  align-items: center;
  gap: 16px;
}
.progress__box {
  padding: 24px 24px 27px;
  border: 1px solid #d9d9d9;
  border-top: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.progress__title {
  font-size: 15px;
  margin-bottom: 20px;
}
.progress__item {
  display: flex;
  align-items: center;
}
.progress__item + .progress__item {
  margin-top: 15px;
}
.progress__item.active .progress__label {
  color: #00B9EF;
  font-weight: 700;
}
.progress__label {
  font-size: 14px;
  font-weight: 400;
  min-width: 146px;
  flex-shrink: 0;
}
.progress.progress {
  appearance: none;
  width: 745px;
  height: 15px;
  position: relative;
}
.progress::-webkit-progress-bar {
  background: #DEE0E2
}
.progress::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/progress-bg-pattern.png) repeat center center / auto 100%;
  z-index: 1;
}
.progress::-webkit-progress-value {
  position: relative;
  background: #00B9EF;
  z-index: 2;
}
.progress__box.active progress::after {
  background: url(../img/progress-actvie-pattern.gif) repeat center center / auto 100%;
}
/* board-table */
.board {
  margin-top: 80px;
}
.board__cell + .board__cell {
  margin-top: 40px;
}
.board__title {
  font-size: 18px;
  margin-bottom: 20px;
}
.board__header {
  display: flex;
  border-bottom: 2px solid #000;
}
.board__header-cell {
  text-align: center;
  padding: 12px 0 14px;
}
.board__header-cell h5 {
  font-weight: 700;
  font-size: 14px;
}
.board-wrap .col-1 {
  width: 150px;
}
.board-wrap .col-2 {
  width: 150px;
}
.board-wrap .col-3 {
  width: 335px;
}
.board-wrap .col-4 {
  width: 150px;
}
.board-wrap .col-5 {
  width: 150px;
}
.board-wrap .col-6 {
  width: 65px;
}
.board-wrap.no-edit .col-3 {
  width: 400px;
}
.board-wrap.front-board .col-1,
.board-wrap.front-board .col-2 {
  width: 85px;
}
.board-wrap.front-board .col-3 {
  width: 335px;
}
.board-wrap.front-board .col-4,
.board-wrap.front-board .col-5 {
  width: 150px;
}
.board-wrap.front-board .col-6,
.board-wrap.front-board .col-7,
.board-wrap.front-board .col-8 {
  width: 65px;
}
.board__body {
  display: flex;
  flex-direction: column;
}
.board__list {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #DEE0E2;
}
/* 호버 */
.board__list-cell:hover .board__body-cell {
  background: #F1F8FA;
}
.board__list-cell:hover .board__body-cell .board__form {
  background: #F1F8FA;
}
/* 음악, 영상 재생시 */
.board__list-cell.playing .board__body-cell {
  background: #DAF3FA;
}
.board__list-cell.playing .board__body-cell .board__form {
  background: #DAF3FA;
}
.board__list-cell {
  display: flex;
}
.board__list-cell.drop .board__drop-button {
  display: none;
}
.board__body-cell {
  padding: 17px 0;
  position: relative;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}
.board__content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.board__form {
  pointer-events: none;
  border: none;
  width: 80%;
  text-align: center;
}
.board__body-cell.edit .board__form {
  pointer-events: auto;
}
.board__body-cell.edit::after {
  content: '';
  position: absolute;
  bottom: 12px;
  height: 1px;
  background: #d9d9d9;
  left: 50%;
  transform: translateX(-50%);
}
.board__body-cell.col-3.edit::after {
  width: 254px;
}
.board__body-cell.col-4.edit::after,
.board__body-cell.col-5.edit::after {
  width: 120px;
}
.board__drop-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
}
.board__drop-button.active span.icon-drop-down {
  background-image: url(../img/icon/up_arrow.png);
}
.board__list-cell.drop {
  height: 0;
  overflow: hidden;
  transition: height 0.3s;
}
.board__list-cell.drop:nth-of-type(n) {
  transition-delay: attr(data-time);
}
.board__list-cell.active ~ .board__list-cell.drop  {
  height: 58px;
}
.board__edit-btn {
  color: #00B9EF;
  font-size: 14px;
  display: flex;
  height: 24px;
  align-items: center;
}
.page__btn-wrap {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
.register__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 27px 144px;
  background: #00B9EF;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  border-radius: 4px;
}
.register__btn:hover {
  /* 호버시 색상? */
}
.list__table-cell {
  margin-top: 40px;
}
.list__count em {
  font-weight: 700;
}
.list__table {
  width: 100%;
  margin-top: 20px;
}
.list__thead {
  border-bottom: 2px solid #000;
}
.list__thead th {
  padding: 12px 0 14px;
  font-weight: 700;
  font-size: 14px;
}
.list__row {
  border-bottom: 1px solid #DEE0E2;
}
.list__row:hover {
  background: #F1F8FA;
}
.list__data {
  text-align: center;
  font-size: 14px;
}
.list__table--video .list__data {
  padding: 17px 0;
}
.list__table--video .table__photo {
  width: 100px;
  height: 130px;
  margin: 0 auto;
}
.list__table--music .list__data {
  padding: 12px 0
}
.list__table--music .table__photo {
  width: 52px;
  height: 52px;
  margin: 0 auto;
}
.table__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.paging-cell {
  margin-top: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.paging__num {
  padding: 0 8px;
  font-size: 16px;
  color: #3B3B3B;
}
.paging__num.active {
  font-weight: 700;
  color: #000;
}
.paging__to-front {
  margin-right: 12px;
}
.paging__to-prev {
  margin-right: 24px;
}
.paging__to-next {
  margin-left: 24px;
}
.paging__to-end {
  margin-left: 12px;
}
/* 프론트화면 */
.front__inner {
  width: 1000px;
  margin: 0 auto;
}
.slider__title {
  font-size: 18px;
}
.slider__cell {
  position: relative;
  margin-top: 40px;
}
.slider {
  overflow: hidden;
  padding-top: 20px;
}
.slide__photo {
  width: 150px;
  height: 216px;
}
.slide__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.slide__item {
  transition: 0.3s ease;
}
.slide__item:hover {
  transform: translateY(-15px);
}
.slide__item-title {
  margin-top: 12px;
  font-size: 14px;
  font-weight: 500;
}
/*.swiper-button-prev,*/
/*.swiper-button-next {*/
/*  height: 216px;*/
/*  top: 38px;*/
/*  margin-top: unset;*/
/*  display: block;*/
/*}*/
/*.swiper-button-prev {*/
/*  left: -36px;*/
/*}*/
/*.swiper-button-next {*/
/*  right: -36px;*/
/*}*/
/*.swiper-button-prev::after,*/
/*.swiper-button-next::after {*/
/*  content: '';*/
/*}*/
/*.swiper-button-prev::after {*/
/*  background: url(../images/icon/icon-slide-prev.png) no-repeat left center / 12px 24px;*/
/*  width: 100%;*/
/*  height: 100%;*/
/*}*/
/*.swiper-button-next::after {*/
/*  background: url(../images/icon/icon-slide-next.png) no-repeat right center / 12px 24px;*/
/*  width: 100%;*/
/*  height: 100%;*/
/*}*/
/*.slider:hover .swiper-button-prev,*/
/*.slider:hover .swiper-button-next {*/
/*  display: flex;*/
/*}*/
/*.swiper-button-prev.swiper-button-disabled,*/
/*.swiper-button-next.swiper-button-disabled {*/
/*  display: none !important;*/
/*}*/
/*.swiper-button-prev::before,*/
/*.swiper-button-next::before {*/
/*  content: '';*/
/*  position: absolute;*/
/*  top: 0;*/
/*  width: 100%;*/
/*  height: 100%;*/
/*}*/
/*.swiper-button-prev::before {*/
/*  right: -11px;*/
/*}*/
/*.swiper-button-next::before  {*/
/*  left: -11px;*/
/*}*/
.media__inner {
  height: 372px;
  margin: 40px 0 52px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.video__cell {
  width: 575px;
  height: 100%;
  background: #F0F4F7;
  flex-shrink: 0;
}
.audio__cell {
  width: 405px;
  height: 100%;
  background: #F0F4F7;
  flex-shrink: 0;
}
/* 오디어 플레이어 */
.audio-player__wrap {
  display: flex;
  flex-direction: column;
  padding: 32px 38px;
  align-items: center;
}
.audio-player__thumbnail {
  width: 120px;
  height: 120px;
  margin-bottom: 20px;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  background: #DAF3FA url(../img/icon/icon-player-empty.png) center center / 50px 55px no-repeat;
  border: 1px solid #d4eeee;
}
.audio-player__thumbnail.active {
  border: none;
}
.player__img {
  width: 100%;
  height: 100%;
}
.audio-player__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  min-height: 62px;
}
.audio-player__title {
  font-size: 18px;
  display: none;
}
.audio-player__singer {
  font-size: 14px;
  font-weight: 500;
  display: none;
}
.audio-player__album {
  font-size: 14px;
  color: #00B9EF;
  display: none;
}
.audio-player__stop {
  font-size: 18px;
  color: #848594;
  font-weight: 700;
}
.audio-player__thumbnail.active + .audio-player__info .audio-player__title,
.audio-player__thumbnail.active + .audio-player__info .audio-player__singer,
.audio-player__thumbnail.active + .audio-player__info .audio-player__album {
  display: block;
}
.audio-player__thumbnail.active + .audio-player__info .audio-player__stop {
  display: none;
}
.audio-player__func-cell {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 36px;
}
.audio-player__play {
  display: flex;
  align-items: center;
  gap: 16px;
}
.audio-player__volume {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
.audio-player__volume::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 135px;
  bottom: 0;
  left: 0;
  z-index: 2;
}
.audio-volume__btn {
  position: relative;
  z-index: 5;
}
.audio-volume__control {
  position: absolute;
  top: -60px;
  left: -39px;
  appearance: none;
  width: 100px;
  height: 6px;
  transform: rotate(-90deg);
  -webkit-appearance: none;
  display: none;
  cursor: pointer;
  z-index: 10;
  border-radius: 5px;
}
.audio-player__volume:hover .audio-volume__control {
  display: block;
}
.audio-volume__control::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #DEE0E2;
  border-radius: 5px;
}
.audio-volume__control::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 100px;
  transform: translate(-50%, -50%);
  display: none;
}
.audio-volume__control:active::after {
  display: block;
}
.audio-volume__handle {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: #00B9EF;
  border-radius: 5px;
  max-width: 100%;
}
.audio-volume__handle::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -6px;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background: #00B9EF;
}
.audio-player__status {
  width: 100%;
  height: 8px;
  position: relative;
  margin-top: 30px;
  border-radius: 5px;
  cursor: pointer;
}
.audio-player__status::before {
  content: '';
  position: absolute;
  width: 500px;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.audio-player__status:active::before {
  display: block;
}
.audio-player__status::after {
  content: '';
  position: absolute;
  height: 8px;
  width: 100%;
  background: #DEE0E2;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 4px;
}
.time-cell {
  position: absolute;
  font-size: 11px;
  color: #848594;
  top: -19px;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}
.audio-player__currnet-time {
  left: 0;
}
.audio-player__duration-time {
  right: 0;
}
.audio-player__progress-bar {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 8px;
  background: #00B9EF;
  border-radius: 4px;
  cursor: pointer;
  z-index: 2;
  width: 20%;
  max-width: 100%;
}
.audio-player__progress-bar::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #00B9EF;
  right: -8px;
  top: 50%;
  transform: translateY(-50%) scale(1);
  transition: 0.1s cubic-bezier(0.4,0,1,1);
  z-index: 5;
}
.audio-player__status:hover .audio-player__progress-bar::after {
  transform: translateY(-50%) scale(1);
}
/* 재생버튼 호버, 클릭 */
.audio-play__btn:hover span,
.audio-play__prev-btn:hover span,
.audio-play__next-btn:hover span,
.board__music-play:hover span,
.board__video-play:hover span {
  filter: invert(47%) sepia(67%) saturate(7041%) hue-rotate(182deg) brightness(97%) contrast(97%);
}
.audio-play__btn:active,
.audio-play__prev-btn:active,
.audio-play__next-btn:active,
.board__music-play:active,
.board__video-play:active {
  filter: invert(18%) sepia(10%) saturate(3%) hue-rotate(339deg) brightness(105%) contrast(88%);
}
