@charset "utf-8";
/*========================================

  Pretendard

  bold : 700
  medium : 500
  regular : 400
  
========================================*/

/* Pretendard */
@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-display: swap;
  src: url('../font/Pretendard-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  font-display: swap;
  src: url('../font/Pretendard-Medium.otf') format('opentype');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  font-display: swap;
  src: url('../font/Pretendard-Bold.otf') format('opentype');
}

html,
body,
select,
textarea,
button,
input,
.ui-widget 
{
  font-family: "Pretendard", sans-serif !important;
}
